# Node dependencies
/node_modules/
.pnp/
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.*
!.env.example

# Test coverage
/coverage/

# Production build output
/build/
/dist/

# Python virtual environment
venv/
__pycache__/

# TensorFlow / Keras models
*.h5

# PyTorch / Deep Learning models
*.pth
*.pt
*.ckpt
*.onnx
*.pb
*.weights

# OS / Misc files
.DS_Store
Thumbs.db

# IDE configs (optional)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project