# Node dependencies
/node_modules/
.pnp/
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.*
!.env.example  # keep a template for env variables

# Test coverage
/coverage/

# Production build output
/build/
/dist/

# OS / Misc files
.DS_Store
Thumbs.db

# IDE configs (optional)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
