.neuro-dashboard {
  display: flex;
  height: 100vh;
  background-color: #e6ecec;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .nav-link,
.sidebar .btn-link.nav-link {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 12px;
  border-radius: 10px;
  color: #059da8;
  padding: 10px 15px;
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
  white-space: normal;
  word-break: break-word;
  text-decoration: none;
}

.sidebar .nav-link:hover,
.sidebar .btn-link.nav-link:hover {
  background-color: #76ced4;
  color: #ffffff;
}

.doctor-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #059da8;
}

.doctor-name {
  font-size: 1rem;
  color: #059da8;
}

.notification-panel {
  width: 250px;
  background-color: #fff;
  border-left: 2px solid #76ced4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.notification-panel ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.notification-panel li {
  padding: 8px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 0.95rem;
  color: #333;
}

.show-btn {
  position: absolute;
  top: 90px;
  right: 10px;
  z-index: 1000;
  color: #ffffff;
  background-color: #1c99a0;
  border-radius: 7%;
}
